/* .why-choose-agile {
    background: url(../images/bg4.jpg) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
} */

.why-choose-agile,
.wthree_features_grid,
.wthree_features_grid i {
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}

.wthree_features_grid i {
    font-size: 28px;
    color: #45a6f5;
}

.agile-why-text h4 {
    font-size: 27px;
    letter-spacing: 1px;
}

.agile-why-text p {
    color: #c5c5c5;
}

a.service-button {
    color: #45a6f5;
}
a.service-button:hover {
    color: #fff;
}

.wthree_agile_us:hover .wthree_features_grid {
    background: #45a6f5;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}

.wthree_agile_us:hover .wthree_features_grid i {
    color: #fff;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}
