 .carousel-item {
    height:  800px !important;
    min-width: 100% !important;
    margin-top: auto;
    background-attachment: fixed !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
    z-index: -1;

    
}
  
/* .text-slider{
    position: absolute ;
    color: white;
    margin-bottom: 20px;
    width: 100%;
    height: 350px;
    background: rgba(8 8 8 /30%);
}
.carousel-item  img {
    position: relative;
}
.text-inner-slide{
    margin-top: 250px;
    margin-left: 100px;
} */
.carousel-indicators{
    position: fixed;
}
.carousel .carousel-indicators button {
    width: 10px;
   height: 10px;
   border-radius: 100%;
   background-color: #42a5f5;

 }


 .bg-img-1{
    background-image: url('../images/am1.jpg');
}
.bg-img-2{
    background-image: url('../images/ab.jpg');
}
.bg-img-3{
    background-image: url('../images/am2.jpg');
}
.bg-img-4{
    background-image: url('../images/am3.jpg');
}
.bg-img-5{
    background-image: url('../images/am4.jpg');
}







h3.title {
    font-size: 46px;
    position: relative;
}

h3.title:before,
h3.title:after {
    position: absolute;
    background: #42a5f5;
    width: 10%;
    height: 2px;
    content: " ";
    bottom: -3%;
}

h3.title:before {
    left: 43%;
}

h3.title:after {
    bottom: -20%;
    right: 43%;
}

/* //heading title */

.about_right h3 {
    font-size: 38px;
    line-height: 1.3;
    letter-spacing: 1.5px;
    text-align: right;
}

.about_right h3 span {
    display: block;
    color: #42a5f5;
    text-shadow: 3px 1px 4px rgba(0, 0, 0, 0.22);
    font-size: 48px;
}

.about_right p{
    font-size: 14px;
    letter-spacing: 1px;
    text-align: right;
}
.bor{
    font-size: 14px;
    border-right: 2px solid #42a5f5 !important;
    padding-right: 15px;
}


.about_left-list h6 {
    letter-spacing: 1px;
    font-size: 28px;
}

.about_left-list ul li i {
    color: #42a5f5;
    text-align: justify;
    font-size: 20px;
}

.about_left-list ul li {
    font-size: 15px;
    line-height: 1.9em;
    letter-spacing: 1px;
    display: flex;
}

.left-img-agikes {
    position: relative;
}

.about-bottom {
    box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.21);
    background: url(../images/bg2.jpg) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    position: absolute;
    bottom: -2%;
    width: 100%;
    right: 28%;
}

.about-bottom ul li {
    display: inline-block;
}

.about-bottom ul li:nth-child(2) {
    margin: 0 5em;
}

.about-bottom ul li h5 {
    font-size: 40px;
    color: #42a5f5;
}
.image-slider{
    z-index: -1;
    position: relative;
}




.horizontal-scroll {
    display: flex;
    gap: 100px;
    height: 200px;
    overflow-x: auto;
    -ms-scroll-snap-type: x mandatory;
        scroll-snap-type: x mandatory;
    scrollbar-width: none;
  }
  .horizontal-scroll::-webkit-scrollbar {
    display: none;
  }
  .horizontal-scroll__item {
    align-items: center;
    color: white;
    border: 1px solid black;
    display: flex;
    flex: 0 0 320px;
    font-size: 40px;
    justify-content: center;
    scroll-snap-align: start;
  }